{% extends "base_generic.html" %}

{% block content %}
    <h1>My Collections</h1>
    <button type="button">
        <a href="{% url 'game-collection-create' %}">Create Collection</a>
    </button>
    <p>Wonderful Collections</p>

    {% if gamecollection_list %}
        <ul>
            {% for collection in gamecollection_list %}
                <hr>
                <p><strong><a href="{{ collection.get_absolute_url }}">{{ collection.collection_name }}</a></strong></p>
                <p><strong>Description:</strong> {{ collection.collection_description }}</p>
            {% endfor %}
        </ul>

    {% else %}
        <p>There are no games owned.</p>

    {% endif %}
{% endblock %}