{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ game.game_title }}</h1>

    <button type="button">
        <a href="{{ game.get_absolute_url }}/delete/">Delete Game</a>
    </button>
    <button type="button">
        <a href="{{ game.get_absolute_url }}/edit/">Edit Game</a>
    </button>


    <p><strong>Game Description:</strong> {{ game.game_description }}</p> <!-- author detail link not yet defined -->
    <div style="margin-left:20px;margin-top:20px">
        <hr>
        <p><strong>Game Rule:</strong> {{ game.game_rule }}</p>
        <p><strong>Game Created Date:</strong> {{ game.game_created_date }}</p>
        <p><strong>Game Category:</strong> {{ game.game_category }}</p>
        <p><strong>Game Rating:</strong> {{ game.game_rating }}</p>
    </div>
{% endblock %}