{% extends "base_generic.html" %}

{% block content %}
    <h1>My Collections</h1>

    {% if gamecollection_list %}
        <ul>
            {% for collection in gamecollection_list %}
                <li>
                    <a href="{{ collection.get_absolute_url }}">{{ collection.collection_name }}</a>
                </li>
            {% endfor %}
        </ul>
        <button type="button">
            <a href="{% url 'game-collection-create' %}">Create Collection</a>
        </button>

    {% else %}
        <p>There are no games owned.</p>
    {% endif %}
{% endblock %}