{% extends "base_generic.html" %}

{% block content %}
    <h1>Game Collection: {{ gamecollection.collection_name }}</h1>

    <button type="button">
        <a href="{{ gamecollection.get_absolute_url }}/delete/">Delete Collection</a>
    </button>
    <button type="button">
        <a href="{{ gamecollection.get_absolute_url }}/update/">Update Collection</a>
    </button>
    <button type="button">
        <a href="{{ gamecollection.get_absolute_url }}/create/">Create Game</a>
    </button>

    <p><strong>Collection Description:</strong> {{ gamecollection.collection_description }}</p> <!-- author detail link not yet defined -->
    <div style="margin-left:20px;margin-top:20px">
        <h4>Game Collection</h4>
        {% if gamecollection.game_set.all %}
            {% for game in gamecollection.game_set.all %}
                <hr>
                <p><strong><a href="{{ game.get_absolute_url }}">{{ game.game_title }}</a></strong></p>
                <p><strong>Game Category:</strong> {{ game.game_category }}</p>
                <p><strong>Game Rating:</strong> {{ game.game_description }}</p>
                <button type="button">
                    <a href="{{ game.get_absolute_url }}/update/">Update Game</a>
                </button>
                <button type="button">
                    <a href="{{ game.get_absolute_url }}/delete/">Delete Game</a>
                </button>

            {% endfor %}
        {% else %}
            <p>There are no Games in your account.</p>
        {% endif %}

    </div>
{% endblock %}